FemsJubService/Connected Services/SQL/SQL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mostrar_aprobados">
        <s:complexType />
      </s:element>
      <s:element name="Mostrar_aprobadosResponse">
        <s:complexType />
      </s:element>
      <s:element name="Mostrar_PorAutorizar">
        <s:complexType />
      </s:element>
      <s:element name="Mostrar_PorAutorizarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Autorizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Crear_Usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidop" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tusuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="municipio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Crear_UsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="Mostrar_aprobadosSoapIn">
    <wsdl:part name="parameters" element="tns:Mostrar_aprobados" />
  </wsdl:message>
  <wsdl:message name="Mostrar_aprobadosSoapOut">
    <wsdl:part name="parameters" element="tns:Mostrar_aprobadosResponse" />
  </wsdl:message>
  <wsdl:message name="Mostrar_PorAutorizarSoapIn">
    <wsdl:part name="parameters" element="tns:Mostrar_PorAutorizar" />
  </wsdl:message>
  <wsdl:message name="Mostrar_PorAutorizarSoapOut">
    <wsdl:part name="parameters" element="tns:Mostrar_PorAutorizarResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="AutorizarSoapIn">
    <wsdl:part name="parameters" element="tns:Autorizar" />
  </wsdl:message>
  <wsdl:message name="AutorizarSoapOut">
    <wsdl:part name="parameters" element="tns:AutorizarResponse" />
  </wsdl:message>
  <wsdl:message name="Crear_UsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:Crear_Usuario" />
  </wsdl:message>
  <wsdl:message name="Crear_UsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:Crear_UsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="correo" type="s:string" />
    <wsdl:part name="contrasenia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="Mostrar_aprobadosHttpGetIn" />
  <wsdl:message name="Mostrar_aprobadosHttpGetOut" />
  <wsdl:message name="Mostrar_PorAutorizarHttpGetIn" />
  <wsdl:message name="Mostrar_PorAutorizarHttpGetOut" />
  <wsdl:message name="EliminarHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EliminarHttpGetOut" />
  <wsdl:message name="AutorizarHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutorizarHttpGetOut" />
  <wsdl:message name="Crear_UsuarioHttpGetIn">
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="apellidop" type="s:string" />
    <wsdl:part name="apellidom" type="s:string" />
    <wsdl:part name="correo" type="s:string" />
    <wsdl:part name="contrasenia" type="s:string" />
    <wsdl:part name="foto" type="s:string" />
    <wsdl:part name="telefono" type="s:string" />
    <wsdl:part name="direccion" type="s:string" />
    <wsdl:part name="tusuario" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="pais" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
    <wsdl:part name="municipio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Crear_UsuarioHttpGetOut" />
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="correo" type="s:string" />
    <wsdl:part name="contrasenia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="Mostrar_aprobadosHttpPostIn" />
  <wsdl:message name="Mostrar_aprobadosHttpPostOut" />
  <wsdl:message name="Mostrar_PorAutorizarHttpPostIn" />
  <wsdl:message name="Mostrar_PorAutorizarHttpPostOut" />
  <wsdl:message name="EliminarHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EliminarHttpPostOut" />
  <wsdl:message name="AutorizarHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutorizarHttpPostOut" />
  <wsdl:message name="Crear_UsuarioHttpPostIn">
    <wsdl:part name="nombre" type="s:string" />
    <wsdl:part name="apellidop" type="s:string" />
    <wsdl:part name="apellidom" type="s:string" />
    <wsdl:part name="correo" type="s:string" />
    <wsdl:part name="contrasenia" type="s:string" />
    <wsdl:part name="foto" type="s:string" />
    <wsdl:part name="telefono" type="s:string" />
    <wsdl:part name="direccion" type="s:string" />
    <wsdl:part name="tusuario" type="s:string" />
    <wsdl:part name="estatus" type="s:string" />
    <wsdl:part name="pais" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
    <wsdl:part name="municipio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Crear_UsuarioHttpPostOut" />
  <wsdl:portType name="SQLSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_aprobados">
      <wsdl:input message="tns:Mostrar_aprobadosSoapIn" />
      <wsdl:output message="tns:Mostrar_aprobadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_PorAutorizar">
      <wsdl:input message="tns:Mostrar_PorAutorizarSoapIn" />
      <wsdl:output message="tns:Mostrar_PorAutorizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarSoapIn" />
      <wsdl:output message="tns:EliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <wsdl:input message="tns:AutorizarSoapIn" />
      <wsdl:output message="tns:AutorizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Crear_Usuario">
      <wsdl:input message="tns:Crear_UsuarioSoapIn" />
      <wsdl:output message="tns:Crear_UsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SQLHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_aprobados">
      <wsdl:input message="tns:Mostrar_aprobadosHttpGetIn" />
      <wsdl:output message="tns:Mostrar_aprobadosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_PorAutorizar">
      <wsdl:input message="tns:Mostrar_PorAutorizarHttpGetIn" />
      <wsdl:output message="tns:Mostrar_PorAutorizarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarHttpGetIn" />
      <wsdl:output message="tns:EliminarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <wsdl:input message="tns:AutorizarHttpGetIn" />
      <wsdl:output message="tns:AutorizarHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Crear_Usuario">
      <wsdl:input message="tns:Crear_UsuarioHttpGetIn" />
      <wsdl:output message="tns:Crear_UsuarioHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SQLHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_aprobados">
      <wsdl:input message="tns:Mostrar_aprobadosHttpPostIn" />
      <wsdl:output message="tns:Mostrar_aprobadosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_PorAutorizar">
      <wsdl:input message="tns:Mostrar_PorAutorizarHttpPostIn" />
      <wsdl:output message="tns:Mostrar_PorAutorizarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarHttpPostIn" />
      <wsdl:output message="tns:EliminarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <wsdl:input message="tns:AutorizarHttpPostIn" />
      <wsdl:output message="tns:AutorizarHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Crear_Usuario">
      <wsdl:input message="tns:Crear_UsuarioHttpPostIn" />
      <wsdl:output message="tns:Crear_UsuarioHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SQLSoap" type="tns:SQLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_aprobados">
      <soap:operation soapAction="http://tempuri.org/Mostrar_aprobados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_PorAutorizar">
      <soap:operation soapAction="http://tempuri.org/Mostrar_PorAutorizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <soap:operation soapAction="http://tempuri.org/Autorizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear_Usuario">
      <soap:operation soapAction="http://tempuri.org/Crear_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQLSoap12" type="tns:SQLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_aprobados">
      <soap12:operation soapAction="http://tempuri.org/Mostrar_aprobados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_PorAutorizar">
      <soap12:operation soapAction="http://tempuri.org/Mostrar_PorAutorizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap12:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <soap12:operation soapAction="http://tempuri.org/Autorizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear_Usuario">
      <soap12:operation soapAction="http://tempuri.org/Crear_Usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQLHttpGet" type="tns:SQLHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_aprobados">
      <http:operation location="/Mostrar_aprobados" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_PorAutorizar">
      <http:operation location="/Mostrar_PorAutorizar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <http:operation location="/Eliminar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <http:operation location="/Autorizar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Crear_Usuario">
      <http:operation location="/Crear_Usuario" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQLHttpPost" type="tns:SQLHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar_aprobados">
      <http:operation location="/Mostrar_aprobados" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Mostrar_PorAutorizar">
      <http:operation location="/Mostrar_PorAutorizar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <http:operation location="/Eliminar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Autorizar">
      <http:operation location="/Autorizar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Crear_Usuario">
      <http:operation location="/Crear_Usuario" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL">
    <wsdl:port name="SQLSoap" binding="tns:SQLSoap">
      <soap:address location="http://localhost:51437/SQL.asmx" />
    </wsdl:port>
    <wsdl:port name="SQLSoap12" binding="tns:SQLSoap12">
      <soap12:address location="http://localhost:51437/SQL.asmx" />
    </wsdl:port>
    <wsdl:port name="SQLHttpGet" binding="tns:SQLHttpGet">
      <http:address location="http://localhost:51437/SQL.asmx" />
    </wsdl:port>
    <wsdl:port name="SQLHttpPost" binding="tns:SQLHttpPost">
      <http:address location="http://localhost:51437/SQL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>