Fems-Jup/Connected Services/SQL/SQL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mostrar">
        <s:complexType />
      </s:element>
      <s:element name="MostrarResponse">
        <s:complexType />
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="MostrarSoapIn">
    <wsdl:part name="parameters" element="tns:Mostrar" />
  </wsdl:message>
  <wsdl:message name="MostrarSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarResponse" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="correo" type="s:string" />
    <wsdl:part name="contrasenia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="MostrarHttpGetIn" />
  <wsdl:message name="MostrarHttpGetOut" />
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="correo" type="s:string" />
    <wsdl:part name="contrasenia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="MostrarHttpPostIn" />
  <wsdl:message name="MostrarHttpPostOut" />
  <wsdl:portType name="SQLSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <wsdl:input message="tns:MostrarSoapIn" />
      <wsdl:output message="tns:MostrarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SQLHttpGet">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <wsdl:input message="tns:MostrarHttpGetIn" />
      <wsdl:output message="tns:MostrarHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SQLHttpPost">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <wsdl:input message="tns:MostrarHttpPostIn" />
      <wsdl:output message="tns:MostrarHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SQLSoap" type="tns:SQLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <soap:operation soapAction="http://tempuri.org/Mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQLSoap12" type="tns:SQLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <soap12:operation soapAction="http://tempuri.org/Mostrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQLHttpGet" type="tns:SQLHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <http:operation location="/Mostrar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SQLHttpPost" type="tns:SQLHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <http:operation location="/Mostrar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SQL">
    <wsdl:port name="SQLSoap" binding="tns:SQLSoap">
      <soap:address location="http://localhost:51437/SQL.asmx" />
    </wsdl:port>
    <wsdl:port name="SQLSoap12" binding="tns:SQLSoap12">
      <soap12:address location="http://localhost:51437/SQL.asmx" />
    </wsdl:port>
    <wsdl:port name="SQLHttpGet" binding="tns:SQLHttpGet">
      <http:address location="http://localhost:51437/SQL.asmx" />
    </wsdl:port>
    <wsdl:port name="SQLHttpPost" binding="tns:SQLHttpPost">
      <http:address location="http://localhost:51437/SQL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>